<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact App</title>
    <!-- Tailwind Output Css -->
    <link href="/output.css" rel="stylesheet" />
    <!-- Font Awesome for Icon -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet" />
    <!-- flowbite for table -->
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
  </head>
  <body>
    <div class=" overflow-hidden">
      <!-- Home -->
      <div class="w-full  bg-[#213448] h-[13vh] flex justify-center items-center text-4xl font-bold">
        <a class="text-violet-500" href="/"
          >Contact App</a
        >
      </div>

