<%- include("partials/header.ejs") %>
<main class="w-full h-full min-[500px]:p-5 pb-10 min-[770px]:px-10 bg-gray-900">
  <h1
    scope="col"
    class="w-full bg-gray-900 text-[#73f84e] px-6 py-5 flex justify-center text-4xl font-bold">
    Add Contact
  </h1>
  <form class="max-w-md mx-auto px-2" action="/add-contact" method="post">
    <div class="mb-5 flex">
      <label
        for="first_name"
        class="block mb-2 w-[25%] text-sm font-medium text-gray-900 dark:text-white"
        >First Name</label
      >
      <input
        name="first_name"
        type="text"
        id="first_name"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
        placeholder="Enter Your First Name"
        required />
    </div>
    <div class="mb-5 flex">
      <label
        for="last_name"
        class="block mb-2 w-[25%] text-sm font-medium text-gray-900 dark:text-white"
        >Last Name</label
      >
      <input
        name="last_name"
        type="text"
        id="last_name"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
        placeholder="Enter Your Last Name"
        required />
    </div>
    <div class="mb-5 flex">
      <label
        for="text"
        class="block mb-2 w-[30%] text-sm font-medium text-gray-900 dark:text-white"
        >Your Number</label
      >
      <input
        name="phone"
        type="text"
        id="text"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
        placeholder="Enter Your Phone"
        required />
    </div>
    <div class="mb-5 flex">
      <label
        for="email"
        class="block mb-2 w-[30%] text-sm font-medium text-gray-900 dark:text-white"
        >Your Email</label
      >
      <input
        name="email"
        type="email"
        id="email"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
        placeholder="Enter Your Email"
        required />
    </div>
    <div class="block items-start mb-5">
      <label
        for="textarea"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Address
      </label>
      <textarea
        name="address"
        class="shadow-xs max-h-20 min-h-20 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
        name="textarea"
        placeholder="Enter Your Address"
        id="textarea"></textarea>
    </div>
    <div class="space-x-2">
      <button
        type="submit"
        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-bold rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
        Save
      </button>
      <a
        href="/"
        class="text-white bg-red-700 hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-red-300 font-bold rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-500 dark:hover:bg-red-400 dark:focus:ring-red-800">
        Cancel
      </a>
    </div>
  </form>
</main>
<%- include("partials/footer.ejs") %>
